body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Bowler';
  src: url("../public/fonts/bowler.woff2") format('woff2'),
      url("../public/fonts/bowler.ttf") format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  src: url("../public/fonts/gilroy.woff") format('woff'),
      url("../public/fonts/gilroy.ttf") format('truetype');
}
