#box {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.mainBox {
    width: 256px;
    display: flex;
    flex-direction: column;
}

.tile {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 65px;
    align-items: center;
    padding-left: 15px;
    gap: 11px;
    transition: 500ms;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-wrap: normal;

    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    overflow:hidden
}

Accordion {
    margin: 0 !important;
    background-color: #ffffff;
}

.tile:first-child {
    border-top: none;
    border-radius: 15px 15px 0 0;
    gap: 11px;
}

/*.mainBox:first-child {*/
/*    border-top: none;*/
/*    border-radius: 15px 15px 0 0;*/
/*    gap: 11px;*/
/*}*/

.tile:last-child {
    border-radius: 0 0 15px 15px;
}

/*.mainBox:last-child {*/
/*    border-radius: 0 0 15px 15px;*/
/*}*/
